// -------------------------------------------------
//
// Global styles
// 
// -------------------------------------------------

* {
  @include box-sizing(border-box);
  outline:none;
}

::-webkit-scrollbar {
  display: none;
}

body,html{
  width: 100%;
  height: 100%;
  margin: 0;
  background: black;
  color: white;
  text-align: center;
}

section, div{
  display: block;
}


// -------------------------------------------------
//
// Cursors
// 
// -------------------------------------------------
a{
	cursor: pointer !important;
}

[ng-click]{
    cursor: pointer;
}

[ui-sref]{
  cursor: pointer !important;
}






