// -------------------------------------------------
//
// Typo
// 
// -------------------------------------------------
@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700|Karla:400,400italic,700,700italic);


body{
	font-family: 'Karla', 'Inconsolata', helvetica, sans-serif;
	-webkit-font-smoothing: antialised;
}


ul,ol{
	list-style-type: none;
	padding: 0;
}

